<p>
  Your groups will be displayed in the dashboard section, if there are any matches for your rules. You have multiple rules
  per item (just add the item again). And you can compare to crafting cost(if you have character with a recipe for it), buyout,
  market value etc.
</p>
<mat-tab-group *ngIf="watchlist" [selectedIndex]="selectedTabIndex" (selectedIndexChange)="tabChange($event)" dynamicHeight>
  <mat-tab label="Manage custom boards">
    <wah-watchlist-manager *ngIf="selectedTabIndex === 0"></wah-watchlist-manager>
  </mat-tab>

  <mat-tab label="Manage built-in boards">
    <wah-manage-items-built-in></wah-manage-items-built-in>
  </mat-tab>

  <ng-container *ngFor="let group of watchlist.groups; let tabIndex = index">
    <mat-tab [label]="group.name">
      <ng-container *ngIf="selectedTabIndex === tabIndex + 2">
        <wah-dashboard-group-manager [group]="group">
        </wah-dashboard-group-manager>
      </ng-container>
    </mat-tab>
  </ng-container>
</mat-tab-group>